<!DOCTYPE html>
<html>

<body>
    <%=session.title%> <br>
        <%=session.description%>
            <br>
            <%=session.speaker.name%>
                <br>
                Speaker Bio: <p>
                    <%=session.speaker.bio%>
                </p>
                <br>


</body>

</html>